--
-- PostgreSQL database dump
--

-- Dumped from database version 17rc1
-- Dumped by pg_dump version 17rc1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: api_chathistory; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.api_chathistory (
    id bigint NOT NULL,
    message text NOT NULL,
    response text NOT NULL,
    created_at timestamp with time zone NOT NULL,
    user_id integer NOT NULL
);


ALTER TABLE public.api_chathistory OWNER TO postgres;

--
-- Name: api_chathistory_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.api_chathistory ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.api_chathistory_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: api_headtohead; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.api_headtohead (
    id bigint NOT NULL,
    total_matches integer NOT NULL,
    player1_wins integer NOT NULL,
    player2_wins integer NOT NULL,
    last_meeting_id uuid,
    player1_id uuid NOT NULL,
    player2_id uuid NOT NULL
);


ALTER TABLE public.api_headtohead OWNER TO postgres;

--
-- Name: api_headtohead_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.api_headtohead ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.api_headtohead_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: api_match; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.api_match (
    id uuid NOT NULL,
    date date NOT NULL,
    round character varying(50) NOT NULL,
    surface character varying(50) NOT NULL,
    sets jsonb NOT NULL,
    duration_minutes integer,
    total_points integer NOT NULL,
    player1_aces integer NOT NULL,
    player2_aces integer NOT NULL,
    player1_double_faults integer NOT NULL,
    player2_double_faults integer NOT NULL,
    player1_break_points integer NOT NULL,
    player2_break_points integer NOT NULL,
    player1_first_serve_percentage double precision NOT NULL,
    player2_first_serve_percentage double precision NOT NULL,
    highlights text,
    attendance integer,
    created_at timestamp with time zone NOT NULL,
    player1_id uuid NOT NULL,
    player2_id uuid NOT NULL,
    tournament_id uuid NOT NULL,
    winner_id uuid
);


ALTER TABLE public.api_match OWNER TO postgres;

--
-- Name: api_news; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.api_news (
    id uuid NOT NULL,
    title character varying(300) NOT NULL,
    content text NOT NULL,
    summary text NOT NULL,
    image_url character varying(500) NOT NULL,
    category character varying(100) NOT NULL,
    author character varying(200) NOT NULL,
    published_date date NOT NULL,
    views integer NOT NULL,
    created_at timestamp with time zone NOT NULL
);


ALTER TABLE public.api_news OWNER TO postgres;

--
-- Name: api_player; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.api_player (
    id uuid NOT NULL,
    name character varying(200) NOT NULL,
    country character varying(100) NOT NULL,
    rank integer NOT NULL,
    points integer NOT NULL,
    gender character varying(3) NOT NULL,
    age integer,
    coach character varying(200),
    wins integer NOT NULL,
    losses integer NOT NULL,
    tournaments_played integer NOT NULL,
    image_url character varying(500) NOT NULL,
    biography text,
    height integer,
    weight integer,
    plays character varying(100),
    turned_pro integer,
    career_prize_money numeric(15,2),
    ace_count integer NOT NULL,
    double_faults integer NOT NULL,
    break_points_saved double precision NOT NULL,
    first_serve_percentage double precision NOT NULL,
    hard_wins integer NOT NULL,
    clay_wins integer NOT NULL,
    grass_wins integer NOT NULL,
    best_ranking integer,
    weeks_at_no1 integer NOT NULL,
    grand_slam_titles integer NOT NULL,
    masters_titles integer NOT NULL,
    atp_finals_titles integer NOT NULL,
    strengths text,
    weaknesses text,
    favorite_tournament character varying(200),
    career_highlights text,
    created_at timestamp with time zone NOT NULL
);


ALTER TABLE public.api_player OWNER TO postgres;

--
-- Name: api_seasonstats; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.api_seasonstats (
    id bigint NOT NULL,
    season_year integer NOT NULL,
    matches_played integer NOT NULL,
    wins integer NOT NULL,
    losses integer NOT NULL,
    hard_wins integer NOT NULL,
    hard_losses integer NOT NULL,
    clay_wins integer NOT NULL,
    clay_losses integer NOT NULL,
    grass_wins integer NOT NULL,
    grass_losses integer NOT NULL,
    tournaments_played integer NOT NULL,
    titles_won integer NOT NULL,
    finals_reached integer NOT NULL,
    semifinals_reached integer NOT NULL,
    quarterfinals_reached integer NOT NULL,
    prize_money numeric(15,2) NOT NULL,
    points_earned integer NOT NULL,
    career_high_ranking integer,
    player_id uuid NOT NULL
);


ALTER TABLE public.api_seasonstats OWNER TO postgres;

--
-- Name: api_seasonstats_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.api_seasonstats ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.api_seasonstats_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: api_tournament; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.api_tournament (
    id uuid NOT NULL,
    name character varying(200) NOT NULL,
    location character varying(200) NOT NULL,
    start_date date NOT NULL,
    end_date date NOT NULL,
    surface character varying(100) NOT NULL,
    prize_money numeric(12,2) NOT NULL,
    category character varying(100) NOT NULL,
    image_url character varying(500),
    description text,
    capacity integer,
    total_matches integer NOT NULL,
    winner_id uuid
);


ALTER TABLE public.api_tournament OWNER TO postgres;

--
-- Name: api_tournamentparticipation; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.api_tournamentparticipation (
    id bigint NOT NULL,
    "position" integer,
    prize_money_earned numeric(12,2),
    points_earned integer NOT NULL,
    matches_won integer NOT NULL,
    matches_lost integer NOT NULL,
    notes text,
    player_id uuid NOT NULL,
    tournament_id uuid NOT NULL
);


ALTER TABLE public.api_tournamentparticipation OWNER TO postgres;

--
-- Name: api_tournamentparticipation_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.api_tournamentparticipation ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.api_tournamentparticipation_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: api_userprofile; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.api_userprofile (
    id bigint NOT NULL,
    language character varying(10) NOT NULL,
    notifications_enabled boolean NOT NULL,
    user_id integer NOT NULL,
    is_admin boolean NOT NULL
);


ALTER TABLE public.api_userprofile OWNER TO postgres;

--
-- Name: api_userprofile_favorite_players; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.api_userprofile_favorite_players (
    id bigint NOT NULL,
    userprofile_id bigint NOT NULL,
    player_id uuid NOT NULL
);


ALTER TABLE public.api_userprofile_favorite_players OWNER TO postgres;

--
-- Name: api_userprofile_favorite_players_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.api_userprofile_favorite_players ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.api_userprofile_favorite_players_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: api_userprofile_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.api_userprofile ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.api_userprofile_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO postgres;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO postgres;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO postgres;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_user (
    id integer NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL
);


ALTER TABLE public.auth_user OWNER TO postgres;

--
-- Name: auth_user_groups; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_user_groups (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.auth_user_groups OWNER TO postgres;

--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_user_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_user_user_permissions (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_user_user_permissions OWNER TO postgres;

--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id integer NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO postgres;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO postgres;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO postgres;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO postgres;

--
-- Data for Name: api_chathistory; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.api_chathistory (id, message, response, created_at, user_id) FROM stdin;
1	hi	As a tennis expert AI assistant, I can only answer questions related to tennis. How can I help you with tennis today?	2025-12-16 17:31:12.291154+05	4
\.


--
-- Data for Name: api_headtohead; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: api_match; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: api_news; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: api_player; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: api_seasonstats; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: api_tournament; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: api_tournamentparticipation; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: api_userprofile; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.api_userprofile (id, language, notifications_enabled, user_id, is_admin) FROM stdin;
1	en	t	1	f
3	en	t	2	f
5	en	t	3	f
7	en	t	4	f
9	en	t	5	f
11	en	t	6	t
12	kk	t	7	t
14	en	t	8	t
\.


--
-- Data for Name: api_userprofile_favorite_players; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.api_userprofile_favorite_players (id, userprofile_id, player_id) FROM stdin;
\.


--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: auth_user; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: auth_user_groups; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_user_groups (id, user_id, group_id) FROM stdin;
\.


--
-- Data for Name: auth_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_user_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.django_admin_log (id, action_time, object_id, object_repr, action_flag, change_message, content_type_id, user_id) FROM stdin;
\.


--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.django_content_type (id, app_label, model) FROM stdin;
1	auth	permission
2	auth	group
3	auth	user
4	contenttypes	contenttype
5	api	news
6	api	player
7	api	tournament
8	api	userprofile
9	api	tournamentparticipation
10	api	match
11	api	chathistory
12	api	seasonstats
13	api	headtohead
14	admin	logentry
15	sessions	session
\.


--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.django_session (session_key, session_data, expire_date) FROM stdin;
\.


--
-- Name: api_chathistory_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.api_chathistory_id_seq', 1, true);


--
-- Name: api_headtohead_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.api_headtohead_id_seq', 16, true);


--
-- Name: api_seasonstats_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.api_seasonstats_id_seq', 204, true);


--
-- Name: api_tournamentparticipation_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.api_tournamentparticipation_id_seq', 128, true);


--
-- Name: api_userprofile_favorite_players_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.api_userprofile_favorite_players_id_seq', 1, false);


--
-- Name: api_userprofile_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.api_userprofile_id_seq', 15, true);


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 60, true);


--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_user_groups_id_seq', 1, false);


--
-- Name: auth_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_user_id_seq', 8, true);


--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_user_user_permissions_id_seq', 1, false);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 1, false);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 15, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 20, true);


--
-- Name: api_chathistory api_chathistory_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.api_chathistory
    ADD CONSTRAINT api_chathistory_pkey PRIMARY KEY (id);


--
-- Name: api_headtohead api_headtohead_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.api_headtohead
    ADD CONSTRAINT api_headtohead_pkey PRIMARY KEY (id);


--
-- Name: api_headtohead api_headtohead_player1_id_player2_id_1d77b0b3_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.api_headtohead
    ADD CONSTRAINT api_headtohead_player1_id_player2_id_1d77b0b3_uniq UNIQUE (player1_id, player2_id);


--
-- Name: api_match api_match_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.api_match
    ADD CONSTRAINT api_match_pkey PRIMARY KEY (id);


--
-- Name: api_news api_news_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.api_news
    ADD CONSTRAINT api_news_pkey PRIMARY KEY (id);


--
-- Name: api_player api_player_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.api_player
    ADD CONSTRAINT api_player_pkey PRIMARY KEY (id);


--
-- Name: api_seasonstats api_seasonstats_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.api_seasonstats
    ADD CONSTRAINT api_seasonstats_pkey PRIMARY KEY (id);


--
-- Name: api_seasonstats api_seasonstats_player_id_season_year_43994137_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.api_seasonstats
    ADD CONSTRAINT api_seasonstats_player_id_season_year_43994137_uniq UNIQUE (player_id, season_year);


--
-- Name: api_tournament api_tournament_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.api_tournament
    ADD CONSTRAINT api_tournament_pkey PRIMARY KEY (id);


--
-- Name: api_tournamentparticipation api_tournamentparticipat_tournament_id_player_id_67450466_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.api_tournamentparticipation
    ADD CONSTRAINT api_tournamentparticipat_tournament_id_player_id_67450466_uniq UNIQUE (tournament_id, player_id);


--
-- Name: api_tournamentparticipation api_tournamentparticipation_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.api_tournamentparticipation
    ADD CONSTRAINT api_tournamentparticipation_pkey PRIMARY KEY (id);


--
-- Name: api_userprofile_favorite_players api_userprofile_favorite_players_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.api_userprofile_favorite_players
    ADD CONSTRAINT api_userprofile_favorite_players_pkey PRIMARY KEY (id);


--
-- Name: api_userprofile_favorite_players api_userprofile_favorite_userprofile_id_player_id_e62264df_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.api_userprofile_favorite_players
    ADD CONSTRAINT api_userprofile_favorite_userprofile_id_player_id_e62264df_uniq UNIQUE (userprofile_id, player_id);


--
-- Name: api_userprofile api_userprofile_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.api_userprofile
    ADD CONSTRAINT api_userprofile_pkey PRIMARY KEY (id);


--
-- Name: api_userprofile api_userprofile_user_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.api_userprofile
    ADD CONSTRAINT api_userprofile_user_id_key UNIQUE (user_id);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_user_id_group_id_94350c0c_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_group_id_94350c0c_uniq UNIQUE (user_id, group_id);


--
-- Name: auth_user auth_user_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_permission_id_14a6b632_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_permission_id_14a6b632_uniq UNIQUE (user_id, permission_id);


--
-- Name: auth_user auth_user_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_username_key UNIQUE (username);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: api_chathistory_user_id_b155b78f; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX api_chathistory_user_id_b155b78f ON public.api_chathistory USING btree (user_id);


--
-- Name: api_headtohead_last_meeting_id_2cf54a64; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX api_headtohead_last_meeting_id_2cf54a64 ON public.api_headtohead USING btree (last_meeting_id);


--
-- Name: api_headtohead_player1_id_ef7d1e35; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX api_headtohead_player1_id_ef7d1e35 ON public.api_headtohead USING btree (player1_id);


--
-- Name: api_headtohead_player2_id_a95c3739; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX api_headtohead_player2_id_a95c3739 ON public.api_headtohead USING btree (player2_id);


--
-- Name: api_match_player1_id_eaf53257; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX api_match_player1_id_eaf53257 ON public.api_match USING btree (player1_id);


--
-- Name: api_match_player2_id_3f9fd2e3; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX api_match_player2_id_3f9fd2e3 ON public.api_match USING btree (player2_id);


--
-- Name: api_match_tournament_id_a1d7d958; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX api_match_tournament_id_a1d7d958 ON public.api_match USING btree (tournament_id);


--
-- Name: api_match_winner_id_ef7449f8; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX api_match_winner_id_ef7449f8 ON public.api_match USING btree (winner_id);


--
-- Name: api_seasonstats_player_id_bccdcabe; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX api_seasonstats_player_id_bccdcabe ON public.api_seasonstats USING btree (player_id);


--
-- Name: api_tournament_winner_id_7565d04c; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX api_tournament_winner_id_7565d04c ON public.api_tournament USING btree (winner_id);


--
-- Name: api_tournamentparticipation_player_id_cb59a55e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX api_tournamentparticipation_player_id_cb59a55e ON public.api_tournamentparticipation USING btree (player_id);


--
-- Name: api_tournamentparticipation_tournament_id_3a8e3fa6; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX api_tournamentparticipation_tournament_id_3a8e3fa6 ON public.api_tournamentparticipation USING btree (tournament_id);


--
-- Name: api_userprofile_favorite_players_player_id_72b7348e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX api_userprofile_favorite_players_player_id_72b7348e ON public.api_userprofile_favorite_players USING btree (player_id);


--
-- Name: api_userprofile_favorite_players_userprofile_id_7cdf3b0d; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX api_userprofile_favorite_players_userprofile_id_7cdf3b0d ON public.api_userprofile_favorite_players USING btree (userprofile_id);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: auth_user_groups_group_id_97559544; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_groups_group_id_97559544 ON public.auth_user_groups USING btree (group_id);


--
-- Name: auth_user_groups_user_id_6a12ed8b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_groups_user_id_6a12ed8b ON public.auth_user_groups USING btree (user_id);


--
-- Name: auth_user_user_permissions_permission_id_1fbb5f2c; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_user_permissions_permission_id_1fbb5f2c ON public.auth_user_user_permissions USING btree (permission_id);


--
-- Name: auth_user_user_permissions_user_id_a95ead1b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_user_permissions_user_id_a95ead1b ON public.auth_user_user_permissions USING btree (user_id);


--
-- Name: auth_user_username_6821ab7c_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_username_6821ab7c_like ON public.auth_user USING btree (username varchar_pattern_ops);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: api_chathistory api_chathistory_user_id_b155b78f_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.api_chathistory
    ADD CONSTRAINT api_chathistory_user_id_b155b78f_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: api_headtohead api_headtohead_last_meeting_id_2cf54a64_fk_api_match_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.api_headtohead
    ADD CONSTRAINT api_headtohead_last_meeting_id_2cf54a64_fk_api_match_id FOREIGN KEY (last_meeting_id) REFERENCES public.api_match(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: api_headtohead api_headtohead_player1_id_ef7d1e35_fk_api_player_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.api_headtohead
    ADD CONSTRAINT api_headtohead_player1_id_ef7d1e35_fk_api_player_id FOREIGN KEY (player1_id) REFERENCES public.api_player(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: api_headtohead api_headtohead_player2_id_a95c3739_fk_api_player_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.api_headtohead
    ADD CONSTRAINT api_headtohead_player2_id_a95c3739_fk_api_player_id FOREIGN KEY (player2_id) REFERENCES public.api_player(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: api_match api_match_player1_id_eaf53257_fk_api_player_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.api_match
    ADD CONSTRAINT api_match_player1_id_eaf53257_fk_api_player_id FOREIGN KEY (player1_id) REFERENCES public.api_player(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: api_match api_match_player2_id_3f9fd2e3_fk_api_player_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.api_match
    ADD CONSTRAINT api_match_player2_id_3f9fd2e3_fk_api_player_id FOREIGN KEY (player2_id) REFERENCES public.api_player(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: api_match api_match_tournament_id_a1d7d958_fk_api_tournament_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.api_match
    ADD CONSTRAINT api_match_tournament_id_a1d7d958_fk_api_tournament_id FOREIGN KEY (tournament_id) REFERENCES public.api_tournament(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: api_match api_match_winner_id_ef7449f8_fk_api_player_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.api_match
    ADD CONSTRAINT api_match_winner_id_ef7449f8_fk_api_player_id FOREIGN KEY (winner_id) REFERENCES public.api_player(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: api_seasonstats api_seasonstats_player_id_bccdcabe_fk_api_player_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.api_seasonstats
    ADD CONSTRAINT api_seasonstats_player_id_bccdcabe_fk_api_player_id FOREIGN KEY (player_id) REFERENCES public.api_player(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: api_tournament api_tournament_winner_id_7565d04c_fk_api_player_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.api_tournament
    ADD CONSTRAINT api_tournament_winner_id_7565d04c_fk_api_player_id FOREIGN KEY (winner_id) REFERENCES public.api_player(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: api_tournamentparticipation api_tournamentpartic_tournament_id_3a8e3fa6_fk_api_tourn; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.api_tournamentparticipation
    ADD CONSTRAINT api_tournamentpartic_tournament_id_3a8e3fa6_fk_api_tourn FOREIGN KEY (tournament_id) REFERENCES public.api_tournament(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: api_tournamentparticipation api_tournamentparticipation_player_id_cb59a55e_fk_api_player_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.api_tournamentparticipation
    ADD CONSTRAINT api_tournamentparticipation_player_id_cb59a55e_fk_api_player_id FOREIGN KEY (player_id) REFERENCES public.api_player(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: api_userprofile_favorite_players api_userprofile_favo_player_id_72b7348e_fk_api_playe; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.api_userprofile_favorite_players
    ADD CONSTRAINT api_userprofile_favo_player_id_72b7348e_fk_api_playe FOREIGN KEY (player_id) REFERENCES public.api_player(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: api_userprofile_favorite_players api_userprofile_favo_userprofile_id_7cdf3b0d_fk_api_userp; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.api_userprofile_favorite_players
    ADD CONSTRAINT api_userprofile_favo_userprofile_id_7cdf3b0d_fk_api_userp FOREIGN KEY (userprofile_id) REFERENCES public.api_userprofile(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: api_userprofile api_userprofile_user_id_5a1c1c92_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.api_userprofile
    ADD CONSTRAINT api_userprofile_user_id_5a1c1c92_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_group_id_97559544_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_group_id_97559544_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_user_id_6a12ed8b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_6a12ed8b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

